aiohttp==3.10.2
aiohttp-jinja2==1.0.0
aiohttp-session==2.7.0
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.2.0
cffi==1.11.5
chardet==3.0.4
cryptography==43.0.1
idna==3.7
idna-ssl==1.1.0
Jinja2==3.1.5
MarkupSafe==1.0
motor==2.0.0
multidict==4.4.0
pycparser==2.18
pymongo==4.6.3
six==1.11.0
yarl==1.2.6
