<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <!--todo: remove bulma from static, add CDN-->
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='bulma.css') }}" />
</head>
<body>
<h3>Main page</h3>

{% if is_anonymous %}
<p>Hi, anonymous!</p>
<a href="{{ url('login') }}">Login</a>
<br>
<a href="{{ url('signup') }}">Signup</a>
<br>
{% endif %}

{% if current_user %}
    <a href="{{ url('logout') }}">Logout</a>
    <br>
    <a href="{{ url('friends') }}">Find friends</a>
    <br>
    <br>
    <p>Hi, {{ current_user.first_name }} {{ current_user.last_name }}!</p>
    <br>

    {% if current_user.avatar_url %}
        <figure class="image is-256x256">
            <img src="{{ url('static', filename=current_user.avatar_url) }}">
        </figure>
    {% endif %}
    <br><br><br><br>

    <form action="{{ url('save_avatar') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <label for="avatar">Avatar</label>
        <input id="avatar" name="avatar" type="file" value=""/>
        <input type="submit" value="submit"/>
    </form>

    <br>
    <br>
    <form action="{{ url('add_post') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <label for="message">Add New Post</label>
        <input id="message" name="message" type="text" value=""/>
        <input type="submit" value="Send"/>
    </form>

    <ul>
    {% for post in posts %}
        <li>{{ post.message }} | {{ post.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</li>
    {% endfor %}
    </ul>
    <pre>{{ friends }}</pre>

{% endif %}

</body>
</html>