<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='style.css') }}" />
</head>
<body>
<h3>Index</h3>
<a href="{{ url('login') }}">Login</a>
<a href="{{ url('signup') }}">Signup</a>

<pre>{{ current_user }}</pre>
<pre>{{ is_anonymous }}</pre>

{% if current_user %}
    <a href="{{ url('logout') }}">Logout</a>
    <br>
    <br>
    <form action="{{ url('save_avatar') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
        <label for="avatar">Avatar</label>
        <input id="avatar" name="avatar" type="file" value=""/>
        <input type="submit" value="submit"/>
    </form>

    {% if current_user.avatar_url %}
        <img height="300" src="{{ url('static', filename=current_user.avatar_url) }}">
    {% endif %}

{% endif %}

</body>
</html>