<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div>
    <p>{{ last_visit }}</p>
</div>

<form action="/login" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <label for="email">Email</label>
    <input id="email" name="email" type="email" value="" autofocus/>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" value=""/>
    <input type="submit" value="login"/>
</form>

</body>
</html>