<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h2>Signup</h2>

<form action="/signup" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
    <label for="first_name">First name</label>
    <input id="first_name" name="first_name" type="text" value="" autofocus/>

    <label for="last_name">Last name</label>
    <input id="last_name" name="last_name" type="text" value="" autofocus/>

    <label for="email">Email</label>
    <input id="email" name="email" type="email" value="" autofocus/>

    <label for="password">Password</label>
    <input id="password" name="password" type="password" value=""/>

    <input type="submit" value="Signup"/>
</form>

</body>
</html>